
@{
    ViewData["Title"] = "Create";
}

<!-- Page Heading -->
<div class="row justify-content-between">
    <div class="col-lg-1">
        <h1 class="h3 mb-4 text-gray-800">Brands</h1>
    </div>
</div>
<div class="row justify-content-center">

    <div class="col-lg-8">
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput" class="form-label">Email Adress</label>
                <input type="email" class="form-control" id="exampleFormControlInput" placeholder="name@example.com" >
            </div>
        </form>

    </div>
</div>